@model BlueWhale.Security.Models.LoginModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12">
        <h2>Login</h2>
        @using (Html.BeginForm("login", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Username, new{@class = "sr-only"})
                @Html.TextBoxFor(x => x.Username, new{@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, new{@class = "sr-only"})
                @Html.PasswordFor(x => x.Password, new{@class = "form-control"})
            </div>
            @Html.HiddenFor(x => x.ReturnUrl)
            <button type="submit" class="btn btn-default">Login</button>
        }
    </div>
</div>
